.navWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    /* padding: 10px; */
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
    font-family: 'Allura', cursive;
    /* cursor: pointer; */
}

.wrapper{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    font-family: 'Caveat', cursive;
}

.quotesContainer{
    width: 200px;
    height: 100%;
    padding: 12px;
    background-color: azure;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgb(181, 179, 179));

    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;

}

/* .quote{
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    font-family: 'Caveat', cursive;
    cursor: default;
    filter: drop-shadow(2px 4px 6px rgb(130, 124, 124));
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.copy{
    cursor: pointer;
    
}


.copyIcon:hover{
    background-color: rgba(240, 255, 255, 0.349);
    border-radius: 50%;
    padding: 5px;
    transition: all .5s ease-in-out;
}

.author{
    text-align: right;
    font-size: 22px;
    font-style: italic;
    font-family: 'Allura', cursive;
    font-weight: 600;
    cursor: default;
} */

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media only screen and (min-width:601px) {
    
  }

  @media only screen and (min-width:1025px) {
    
    .quotesContainer{
    width: 500px;
    height: 100%;
    padding: 22px;
    background-color: azure;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgb(181, 179, 179));

    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    }
  }

