.navWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    /* padding: 10px; */
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
    font-family: 'Allura', cursive;
    /* cursor: pointer; */
}

.wrapper{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    font-family: 'Caveat', cursive;
}

.quotesContainer{
    width: 500px;
    height: 100%;
    padding: 20px;
    background-color: azure;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px rgb(181, 179, 179));
 
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;

}

.quote{
    font-size: 22px;
    font-weight: 600;
    text-align: justify;
    font-family: 'Caveat', cursive;
    cursor: default;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.copy{
    cursor: pointer;
    
}


.copyIcon:hover{
    background-color: rgba(240, 255, 255, 0.349);
    border-radius: 50%;
    padding: 5px;
    transition: all .5s ease-in-out;
}

.author{
    text-align: right;
    font-size: 22px;
    font-style: italic;
    font-family: 'Allura', cursive;
    font-weight: 600;
    cursor: default;
}


.body.light {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  body.dark {
    background-color: #121212 !important;
    color: #ffffff !important;
  }



@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }