.quote{
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
    font-family: 'Caveat', cursive;
    cursor: default;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.copy{
    cursor: pointer;
    
}
.copyIcon{
  font-size: 14px !important;
}

.tags{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.tag{
  padding: 5px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  cursor: default;
  font-family: 'Caveat', cursive;
  filter: drop-shadow(2px 4px 6px #353535);
  color: #000;
  transition: transform .5s ease-out;
}

.tag:hover{
  transform: scale(1.1);
}

.copyIcon:hover{
    background-color: rgba(240, 255, 255, 0.349);
    border-radius: 50%;
    padding: 5px;
    transition: all .5s ease-in-out;
}

.author{
    text-align: right;
    font-size: 14px;
    font-style: italic;
    font-family: 'Allura', cursive;
    font-weight: 600;
    cursor: default;
}


/* .body.light {
    background-color: #ffffff !important;
    color: #000000 !important;
  }

  body.dark {
    background-color: #121212 !important;
    color: #ffffff !important;
  } */


  .social{
    display: flex;
    justify-content: flex-end;
    gap: 6px;
    
  }

  .instagram, 
  .twitter{
    cursor: pointer;
    padding: 5px;
    transition: background .5s ease-in-out;
  }

  .instagram:hover{
    background-color: rgba(240, 255, 255, 0.349);
  }
  .twitter:hover{
    background-color: rgba(240, 255, 255, 0.349);
  }


  @media only screen and (min-width:1025px){
    .quote{
      font-size: 22px;
      /* font-weight: 600;
      text-align: justify;
      font-family: 'Caveat', cursive;
      cursor: default; */
  }
  .author{
    /* text-align: right; */
    font-size: 22px;
    /* font-style: italic;
    font-family: 'Allura', cursive;
    font-weight: 600;
    cursor: default; */
}

.copyIcon{
  font-size: 24px !important;
}
  }